@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Work+Sans:wght@100;400&display=swap');

h1{
    font-size: 31.25px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
h4{
    font-size:16px;
    font-weight: 500;
}
h5{
    font-size:12.8px;
    font-weight: 500;
}
h6{
    font-size:12.8px;
    font-weight: 400;
}
.h7{
font-size: 12.8px;
}

@media (min-width:768px) and (max-width:1023px){

    h1{
        font-size: 39.06px;
    }
    h2{
        font-size: 31.25px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size:20px;
    }
    h5{
        font-size:16px;
    }
    h6{
        font-size:12px;
    }
}
@media (min-width:1024px){
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 39.06px;
    }
    h3{
        font-size: 31.25px;
    }
    h4{
        font-size:25px;
    }
    h5{
        font-size:20px;
    }
    h6{
        font-size:16px;
    }
    .h7{
        font-size: 12.8;
    }
}